<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img9"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img9"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuelCalculatorTest"
        tools:targetApi="31"
        android:forceDarkAllowed="false">
        <activity
            android:name="presentation.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="presentation.Resultado_carro"
            android:exported="false"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="presentation.Resultado_Comparador"
            android:exported="false"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="presentation.Resultado_moto"
            android:exported="false"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="presentation.Calculadora"
            android:exported="false" />
        <activity
            android:name="presentation.Comparador"
            android:exported="false" />
        <activity
            android:name="presentation.MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>